* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: blue;
    margin-bottom: 20px;
    text-align: center;
}
h1 img {
    width: 30px;
    height: 30px;
}
.container {
    margin-top: 20px;
    background-color: lightblue;
    padding: 20px;
    width: 400px;
    margin-left: 100px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.list-container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.list-container input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.list-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.list-container button:hover {
    background-color: darkblue;
}
ul li {
    margin-left: 20px; 
    list-style-type: none; 
    margin-top: 20px; 
    padding: 10px; 
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-image: url('images/circle.jpg');
    background-size: cover;
    background-position: center;
    border: none;
    outline: none;
    left: -10px;
    top: 10px;
}
ul li.checked {
    text-decoration: line-through;
    color: gray;
}
ul li.checked::before {
    background-image: url('images/checked.jpg');
}
ul li span {
    position: absolute;
    right: 0;
    top: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: blue;
    cursor: pointer;
    font-weight: bold;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background-color:white;
}